
<div class="container_manu-bar">
    <ul>
        <li><a href="https://www.linkedin.com/in/gabrielle-duarte-5b41331a0" target="_blank">Linkedin</a></li>
        <li><span>•</span></li>
        <li><a href="https://github.com/dugabrielle" target="_blank">Github</a></li>
        <li><span>•</span></li>
        <li><a href="https://www.youtube.com/watch?v=NJVxEaGrHS4&list=RDQMzLTkL8POgSI&index=5&ab_channel=HDFilmTributes" target="_blank">Youtube</a></li>
        <li><span>•</span></li>
    </ul>
</div>